*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}
.grid-container>*{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;

}
header{
    grid-area: header;
    background-color: aquamarine;
}
nav{
    grid-area: navbar;
    background-color: aqua;
}
aside{
    grid-area: aside;
    background-color: beige;
}
section{
    grid-area: section;
    background-color: rgb(48, 153, 153);
    display: flexbox;
    justify-content: flex-start;
    align-items: flex-end;
}
article{
    padding: 10px;
    width: 200px;
    height: 200px;
    
}
footer{
    grid-area: footer;
    background-color: #995e5e;
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template:
    "header"    100px
    "navbar"    50px
    "section"   auto
    "aside"     100px
    "footer"    100px;
}
@media (min-width: 600px) {
    .grid-container{
        grid-template:
        "header header" 100px
        "navbar navbar" 50px
        "section aside" auto
        "footer footer" 100px /
        auto 200px;
    }
}
@media (min-width: 1200px) {
    .grid-container{
        grid-template:
        "header header header" 100px
        "navbar section aside" auto
        "footer footer footer" 100px /
        200px auto 200px;
    }
}